#sublist-task-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

#sublist-container {
  display: flex;
  flex-direction: column;
  border: solid 2px red;
  align-items: center;
  width: 500px;
}

/* edit in ./GeneralSublist.css */

/* .sublist-header {
  display: flex;
  font-size: 2.3rem;
  border: solid 2px red;
} */

