#sublist-task-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: #D09CFA;
}

#sublist-container {
  display: flex;
  flex-direction: column;
  border: solid 10px #A555EC;
  border-bottom: none;
  background-color: #fdfdfd;
  align-items: center;
  width:470px;
  height: 50em;
}

.sublist-header {
  display: flex;
  font-size: 2.3rem;
  /* border: solid 3px #A555EC; */
  background-color: #fdfdfd;
  text-decoration: underline;
  color: #1a1a1a;
}

