#general-task-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background-color: #F3CCFF;
}

#general-container {
  display: flex;
  flex-direction: column;
  background-color: #F3CCFF;
  align-items: center;
}

#general-header {
  display: flex;
  font-size: 2.3rem;
  /* border: solid 3px #A555EC; */
  background-color: #fdfdfd;
  text-decoration: underline;
  background-color: #F3CCFF;
  color: #1a1a1a;
}