#list-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 10px solid #A555EC;
  width: 200px;
  height: 200px;
  font-size: 1rem;
  margin: 15px;
  cursor: pointer;
  background-color: #FFFFD0;
}