#list-header {
  display:flex;
  border: solid 2px red;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 3;
}

#header-name {
  display: flex;
  font-size: 5rem;
}

#header-form {
  display: flex;
  font-size: 5rem;
}

#task-creation {
  display: flex;
  justify-content: center;
  flex-direction:row;
  align-items: center;
}

#days-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#back-arrow {
  cursor: pointer;
}

#list-name {
  padding-top: .3em;
  padding-left: 1em;
  font-size: 3rem;
  margin: 0;
}

#text-input-form {
  display: flex;
  flex-direction: column;
}

#form-label {
  display: flex;
  justify-content: center;
}

#priority-checkbox {
  display: flex;
  width: 25px;
  margin: 0;
}
#priority-container {
  display: flex;
  padding-left: 40px;
  padding-right: 70px;
}

#priority-label {
  padding-left: 10px;
}

#day-container {
  display: flex;
  padding-right: 40px;
}