#checkbox {
  display: flex;
  width: .5em;
}

#show-container {
  display: flex;
  flex-direction: row;
  border: solid red 2px;
}

#task-container {
  display: flex;
  justify-content: space-between;
  border: solid blue 2px;
  width: 10em;
  margin: .3em;
}

#priority-task-container {
  display: flex;
  justify-content: space-between;
  border: solid blue 2px;
  width: 10em;
  margin: .3em;
  background-color: rgb(209, 209, 209);
}

#task-text {
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
#edit-pencil {
  display: flex;
  position: absolute;
  margin: none;
  justify-content: flex-end;
  border: solid red 2px;
  transform: translateX(-38px);
}

#details {
  font-size: .5em;
}

#hover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#task-modal {
  /* position:fixed; */
  width: 10rem;
  background-color: #fff;
  z-index: 100;
  border: solid red 2px;
}

.task-button {
  font-size: 1rem;
}
/* 
#days {
  display: flex;
  flex-direction: row;
  transform: translate(-233px, -28px)
}

.day {
  font-size: 20px;
} */