#user-form-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

#user-form-content {
  width: 30rem;
  background-color: #fff;
  margin-bottom: 20em;
  z-index: 2;
}
#user-form-header {
  display: flex;
  justify-content: flex-end;
  /* padding: 10px; */
}
#user-form-body {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#user-form-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#close-modal {
  display: flex;
  justify-content: center;
  height: 1.3em;
  width: 1.3em;
  border: none;
  background-color: #F3CCFF;
  
}

#user-modal-title {
  margin-right: 6.5vw;
}